<mat-card>
    <button mat-icon-button (click)="close()" class="close-button">
        <mat-icon>clear</mat-icon>
    </button>
    <mat-card-content>
        <div *ngIf="lastUpdated" class="bold label">UPDATED {{lastUpdated}} AGO</div>
        <div class="card-header">{{data.location}}</div>
        <div>in {{data.city}}, {{data.country}}</div>
        <div class="bold">Values: 
            <span *ngFor="let param of data.measurements, let i = index">
                {{param.field}}: {{param.value}}<span *ngIf="i !== data.measurements.length - 1 ">, </span>
            </span>
        </div>
    </mat-card-content>
</mat-card>