mat-card {
    text-align: left;
    margin: 22px;
    padding: 0;
    width: 360px;
    border-radius: 8px;

    mat-card-content {
        margin-bottom: 0;
        padding: 18px;
        div {
            padding: 3px;
        }
    }
}

.close-button {
    float: right;
}

.bold {
    font-weight: 600;
}

.label {
    font-size: 12px;
}

.card-header {
    color: #6945A5;
    font-size: 20px;
    font-weight: 600;
}