.content {
    text-align: center;
    .page-text {
        color: #fff;
        padding: 24px;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

app-city-list {
    display: block;
}

.spacer {
    padding-bottom: 175px;
}