<div class="content" >
    <div class="page-text" *ngIf="!error">
        <h1>Compare your Air</h1>
        <p>Compare the air quality between cities in the UK.</p>
        <p>Select the cities to compare using the search tool below</p>
    </div>
    <div class="page-text" *ngIf="error">
        <h1>Hmmm, something went wrong.</h1>
    </div>
    <app-city-list *ngIf="cityOptions" [list]="cityOptions" (selectedCity)="selectCity($event)"></app-city-list>
    <div class="spacer"></div>
    <div class="card-container">
        <app-city-air-data *ngFor="let city of selectedCities, let i = index" [data]="city" (closeCard)="closeCard(i)">
        </app-city-air-data>
    </div>
</div>