::ng-deep.mat-form-field-appearance-outline {
    .mat-form-field-flex {
        background: #fff;
        border-radius: 6px;
        width: 300px;
        padding: 0.25em .75em !important;
    }

    .mat-form-field-infix {
        padding: 0 !important;
        border-width: 0 !important;
    }

    .mat-form-field-outline {
        top: 0 !important;
    }

    .mat-form-field-prefix {
        color: #C4C4C4;
        top: 0.15em !important;
        padding-right: 5px;
    }
      
}

input.mat-input-element {
    line-height: 27px;
}
