<mat-form-field class="city-search" appearance="outline">
    <mat-icon class="custom-colour" matPrefix>search</mat-icon>
    <input type="text" placeholder="Enter city name..." matInput [formControl]="myControl"  [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option (onSelectionChange)="select($event)" *ngFor="let option of filteredItems | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>