/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
 }
body { 
    margin: 0; 
    font-family:'Open Sans', sans-serif;
    background: #753CB1;
    background: linear-gradient(to right, #753CB1, #476FAD);
}
